pkgbase = arch-builds-example
	pkgdesc = Harmless reference package demonstrating the Arch-Builds packaging standard
	pkgver = 1.0.0
	pkgrel = 1
	url = https://arakiel.tail7db97a.ts.net/Arch-Builds/Arch-Builds
	arch = any
	license = MIT
	depends = bash
	source = arch-builds-example.sh
	source = arch-builds-example.1
	source = LICENSE
	sha256sums = cf88fb8b90b8064382eb2c47408b86caefa2d541d2639e4429298b022b2bfd2a
	sha256sums = 6463b4f014757a579cc775f594e08e680d3f341416b4394aff980f2869d61a9d
	sha256sums = 638d40f3ad760d16e6c7a58c8e15b5d05c35f132bdc010ae50fea6d9cb8d75f7

pkgname = arch-builds-example
